[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
time = "*"
argparse = "*"
json = "*"
random = "*"
string = "*"

[requires]
python_version = "3.7"
